.app {
  background-image: radial-gradient(circle, yellow, #fe54a1);
  color: #000000;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* [min size] + ([max size] - [min size]) * ((100vw - [min view]) / ([max view] - [min view])) */

.app > header {
  width: 375px;
  padding: 40px;
  box-sizing: border-box;
  text-shadow: 0 0 500px #ffffff;
}

.app h1 {
  margin: 0;
  font-size: 35px;
}

.app h1 + h1 {
  margin-left: -0.875em;
}
