.links {
  margin-top: calc(12px + (24 - 12) * ((100vw - 375px) / 375));
}

.links > li {
  display: inline-block;
  font-size: calc(16px + (32 - 16) * ((100vw - 375px) / 375));
}

.links > li + li {
  padding-left: 0.75em;
}

@media (max-width: 375px) {
  .links {
    margin-top: 12px;
  }

  .links > li {
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  .links {
    margin-top: 24px;
  }

  .links > li {
    font-size: 32px;
  }
}
